html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 94px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 94px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    background: #020248;
    color: #ffffff;
}

#footer-button {
    background-color: #ffffff;
}
