@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?y4invk');
  src:  url('fonts/icomoon.eot?y4invk#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?y4invk') format('truetype'),
    url('fonts/icomoon.woff?y4invk') format('woff'),
    url('fonts/icomoon.svg?y4invk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 24px;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-variables:before {
  content: "\e900";
}
.icon-sent:before {
  content: "\e901";
}
.icon-projects:before {
  content: "\e902";
}
.icon-profile:before {
  content: "\e903";
}
.icon-inbox:before {
  content: "\e904";
}
.icon-grey:before {
  content: "\e905";
}
.icon-facilities:before {
  content: "\e906";
}
.icon-exit:before {
  content: "\ea14";
}
